<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Add New User</title>
</head>
<body>
<h1 class="top-h1">Edit User</h1>
<div class="container-form">
    <form th:action="@{/saveUser}" th:object="${edit_user}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" th:required="true">
        <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br><br>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="*{surname}" th:required="true">
        <div class="error-message" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</div>
        <br><br>
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" th:required="true">
        <div class="error-message" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</div>
        <br><br>
        <div class="button-container">
            <img class="img_gif" src="/img/save.gif" alt="#">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>